/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Left Side Bar */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background-color: #e0e0e0;
}

/* Header Section */
header {
    text-align: left;
    background-color: #f9f9f9;
    padding: 20px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 32px;
    color: #333;
    font-family: 'Segoe UI', serif;
    margin-bottom: 5px;
}

header p {
    font-size: 14px;
    color: #666;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.4;
}

/* Navigation Bar */
.navbar {
    background-color: #fff;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 10px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.navbar ul li {
    margin-right: 15px;
}

.navbar ul li a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a:focus,
.navbar ul li a:active {
    color: #555;
}

/* Content Wrapper */
.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
    margin-left: 70px; /* Shift the about content to the right of the sidebar */
    max-width: 900px;
    padding: 20px;
    flex-grow: 1; /* Allow content to grow and take available space */
}

/* About Section */
.about-section {
    margin: 20px 0;
}

.about-section h2 {
    font-size: 24px; /* Title size */
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-image {
    width: 150px; /* Image size */
    height: 150px;
    border-radius: 75px; /* Rounded corners */
    margin-right: 20px;
}

.bio {
    flex: 1;
}

.bio p {
    font-size: 16px; /* Font size for bio text */
    line-height: 1.6;
    color: #555;
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 30px; /* Icon size */
    height: 30px;
}

footer {
    position: sticky;
    bottom: 0;
    z-index: 10; /* For stacking context */
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    color: #666;
    border-top: 1px solid #e0e0e0;
    width: 100%;
    margin-top: auto; /* Push footer to the bottom */
}


